<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    {% for x in posts: %}
            {% if x["id"] == num: %}
                <div class="top">
                    <div class="title"><h1>{{x["title"]}}</h1></div>
                </div>
            {% endif %}
    {% endfor %}

        {% for n in posts: %}
            {% if n["id"] == num: %}
                <div class="content">
                    <div class="card">
                        <h2>{{n["subtitle"]}}</h2>
                        <p>{{n["body"]}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
</div>
</body>
<footer>
    <p>Made with ♥️ By Sofia.</p>
</footer>
</html>